table {
	border-collapse: collapse;
}

table tr:first-child td:first-child {
    border-top-left-radius: 4px;
}

table tr:first-child td:last-child {
    border-top-right-radius: 4px;
}

.secondary-table-wrapper {
	height: 485px;
    width: 100%;
    overflow: hidden;
}

.table-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    width: 75%;
    height: 500px;
    margin-left: 25%;
}

.companyRow {
    border-bottom: 1px solid #E3E8EB;
}

.allColumns {
	padding: 0px 50px;
	height: 38px;
    text-align: center;
}

.fixedColumn {
    position: fixed;
    left: 5px;
	width: 25%;
}

.headerRow, .headerRow .fixedColumn {
    background-color: #7B8994;
    color: #ffffff;
    font-weight: 700;
    padding: 10px 16px;
}

.companyFirstCell {
	height: 42px;
    padding: 16px;
	border-bottom: 1px solid #E3E8EB;
    background-color: #F6F7F9;
    border-right: 2px solid #C9CACA;
    border-left: 2px solid #C9CACA;
}

.companyName{
	font-weight: 700;
}

.companyDescription {
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 96%;
    overflow: hidden;
}

.headerRow td:first-letter {
    text-transform: capitalize;
}

.table-options {
	padding: 15px 2%;
}

.scroll-button-parent {
	float: right;
}

.float-none {
	clear: both;
}
 .scroll-btns {
 	cursor: pointer;
 	margin-right: 5px;
 	background-color: #BDC4CA;
    color: #fff;
    font-weight: 700;
    border-radius: 20px;
    padding: 10px;
 }

.hyphen {
	font-size: 23px;
}

.customize-columns {
	float: right;
	color: #24B6FF;
	margin-right: 30px;
	margin-top: 4px;
	cursor: pointer;
	position: relative;
}

.dropdown {
	position: absolute;
	left: -10px;
	top: 25px;
	font-weight: 700;
	color: #fff;
	display: none;
	width: 150px;
	background-color: #BDC4CA;
}

.dropdown ul {
	list-style: none;
    padding-left: 10px;
}

.dropdown ul li {
	margin-bottom: 3px;
}

.dropdown ul li label {
    cursor: pointer;
    text-transform: capitalize;
}

.tableBody {
	height: 74px!important;
}
